html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #2c2c2c;
  height: 200vh;
  color: white;
  display: flex;
  justify-content: center;
}
.navbar {
  position: fixed;
  width: 100vw;
  height: 6vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a {
  font-size: 2vh;
  text-decoration: none;
  color: black;
  margin: 2vw;
}
.navbar a:hover {
  border-bottom: solid 0.3vh #2c2c2c;
}
#main {
  position: absolute;
  height: 100%;
  width: 70%;
  margin-top: 7vh;
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutMe {
  width: 100%;
  height: 32%;
  color: black;
  text-align: center;
  font-size: 2vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
article {
  font-size: 2vh;
}
#portfolio {
  width: 100%;
  height: 90%;
}
.project {
  background: #131313bd;
  border-radius: 10px;
  text-align: center;
  height: 30vh;
  width: 100%;
  margin-top: 1vh;
}
.project a {
  color: white;
  font-size: larger;
  text-decoration: none;
}
.project img {
  height: 40vh;
  width: 50vw;
}
#contact {
  background: white;
  height: 6vh;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contact a {
  width: 10vw;
  text-align: center;
  color: black;
  font-size: larger;
  text-decoration: none;
}
#contact a:hover {
  border-bottom: solid 0.3vh #2c2c2c;
}
.links {
  display: flex;
  width: 50vw;
  text-align: center;
  justify-content: space-around;
}
