@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #191a21;
  display: flex;
  justify-content: center;
  font-family: Lato;
}
.mainApp {
  z-index: 1;
  padding-top: 20px;
  width: clamp(880px, 100%, 1300px);
  margin: 0px 10px 0px 10px;
  padding-bottom: 20px;
}
/* NAVBAR START */
.navbar {
  background: #1c1e27;
  width: 100%;
  height: 75px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.navbar--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.navbar .homeBtn {
  background: #795eb9;
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .homeBtn:hover {
  background: #8e6eda;
}
.navbar img {
  height: 30px;
}
.navbar ul {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.navbar li {
  list-style: none;
  color: white;
  font-size: 10px;
  margin-left: 25px;
  cursor: pointer;
}
.navbar li h2:hover {
  color: #795eb9;
}
svg:hover .svgFill {
  fill: #795eb9;
}
.socialList--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.socialList {
  margin-right: 15px;
}
.socialList--right .menuBtn svg {
  cursor: pointer;
}

.hiddenMenu {
  margin-top: 5px;
  position: absolute;
  width: 90vw;
  color: white;
}
.hiddenMenu ul {
  list-style: none;
  border-radius: 8px;
  background: #1c1e27;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
/* NAVBAR END */

/* MAIN CONTENT */
.mainContent {
  color: white;
  display: flex;
  justify-content: space-between;
}
.mainContent--left {
  background: #1c1e27;
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  border-radius: 8px;
  height: fit-content;
}
.mainContent--left li {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.2rem;
}
.mainContent--right {
  width: 100%;
  background: #191a21;
}
.mainContent-content {
  background: #1c1e27;
  margin: 20px 0px 0px 20px;
  padding: 10px 20px 0px 20px;
  border-radius: 8px;
}
.card {
  width: 45%;
}
.aboutMe {
  width: 80%;
}
.card h3 {
  font-size: 1rem;
  border-bottom: 2px solid #795eb9;
  width: fit-content;
  padding: 0px 5px 5px 5px;
}
.card p {
  font-size: 1rem;
}
.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.name {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.tech ul {
  padding: 0;
  list-style: none;
}
.tech .progressBar {
  width: 100%;
  height: 10px;
  background: #191a21;
  border-radius: 8px;
}
.tech .progressBar--inner {
  height: 10px;
  background-color: #795eb9;
  border-radius: 8px;
}
.tech .progressBar:hover .progressBar--inner {
  background-color: #8e6eda;
}
.myLanguages {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lang-start h3 {
  font-size: 1rem;
  border-bottom: 2px solid #795eb9;
  width: fit-content;
  padding: 0px 5px 5px 5px;
}
.languages {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px 0px;
}
.lang {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: 10px;
}
.lang-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.lang-name {
  height: fit-content;
  margin: 0px 10px 0px 10px;
}
.lang-name > * {
  margin: 0;
  padding: 0;
  width: fit-content;
}
.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #1c1e27;
  margin: 20px 0px 0px 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
}
.footer a {
  text-decoration: none;
  color: #8e6eda;
}
.expierence {
  display: flex;
  flex-direction: column;
}
.exp-child {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background: #191a21;
  border-radius: 8px;
  padding: 5px;
}
.exp-title h3 {
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 3px solid #795eb9;
}
.exp-child .when {
  display: flex;
  align-items: center;
  width: 100px;
}
.exp-child .work {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exp-child .work > * {
  margin: 0;
  padding: 5px;
}
.certificates {
  padding-bottom: 10px;
}
.cert {
  display: flex;
  align-items: center;
  background: #191a21;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 8px;
}
.cert-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
}
.cert-child > h3,
p {
  margin: 10px;
}
.hidden {
  display: none;
}
noscript {
  color: white;
}

@media screen and (max-width: 1100px) {
  .navbar {
    height: 60px;
  }
  .navbar .homeBtn {
    width: 60px;
  }
}
/* Mobile */
@media screen and (max-width: 610px) {
  .mainApp {
    width: 90vw;
  }
  .navbar {
    height: 60px;
  }
  .navbar .homeBtn {
    width: 60px;
  }
  .navList {
    display: none;
  }
  .menuBtn {
    display: block;
  }
  .mainContent {
    flex-direction: column;
  }
  .mainContent > * {
    display: flex;
    justify-content: center;
  }
  .mainContent--right {
    margin: 20px 0px 0px 0px;
    flex-direction: column;
  }
  .footer {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainContent-content {
    padding: 5px 5px 0px 5px;
    margin: 10px 0px 0px 0px;
  }
  .tech {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 611px) {
  .menuBtn {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .tech {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .languages {
    flex-direction: column;
  }
  .lang {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 0px 5px 0px;
  }
}
