@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
* {
  font-family: "Lato", Courier, monospace;
}
body {
  margin: 0;
  padding: 0;
  background: #191a21;
}
.main-app {
  display: flex;
  justify-content: center;
}
.parent {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div1 {
  color: #8e6eda;
  margin-top: 10px;
  width: calc(5rem * 4 + 20px);
  height: 75px;
  overflow: auto;
  background: #1c1e27;
  border-radius: 8px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 55px;
}
.btn {
  display: flex;
  flex-direction: row;
}
.button {
  height: 5rem;
  width: 5rem;
  margin: 2.5px;
  color: #8e6eda;
  background: #1c1e27;
  text-align: center;
  font-size: 4.375rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  user-select: none;
}
.button:active {
  transform: translateY(4px);
}
